@using WatchShop.Model

    <div class="card m-2" style="width: 15rem;">
    <img src="@Product.ImgURL" class="card-img-top " style="height: 300px; object-fit: cover;"  alt="@Product.Name" />
        <div class="card-body d-flex flex-column">
        <a class="text-decoration-none fw-bold" style="color: dodgerblue;" href="/product/@Product.Id">
            @Product.Name
        </a>

            <p class="card-text flex-grow-1">@Product.Description</p>
            <p class="card-text"><strong>$@Product.Price</strong></p>
            <a href="#" @onclick="HandleClick" class="btn btn-primary mt-auto">Add to Cart</a>
        </div>
    </div>

@code {
    [Parameter]
    public Product Product { get; set; } = null!;
    [Parameter]
    public EventCallback<Product> AddToCart { get; set; }
    private void HandleClick()
    {
        Console.WriteLine("Hello");
        AddToCart.InvokeAsync(Product);
    }
}
