@page "/"
@inject ProductService ProductService
<PageTitle>Index</PageTitle>

<h1>Products</h1>

@if (products == null)
{
    <h2>Loading...</h2>
}
else
{
    <div class="products-container" style="display:flex; flex-wrap:wrap;">
        @foreach (var product in products)
        {
            <ProductCard Product="product" />
        }
    </div>
}

@code {
    private List<Product>? products;

    protected override void OnInitialized()
    {
        products = ProductService.GetAll();
    }
}
